#cover{
  display: inline-block;
  line-height: 0;
  min-width: 100%;
  position:relative;
  overflow: initial;
}
#cover > * {
  line-height: normal;
}
#cd-content{
  grid-row:cd-content;
  display:inline-block;
  line-height: 0;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:var(--header-pad-x);
}
#cd-content * {
  line-height:normal;
}
#cd-heading{
  display:inline-flex;
  flex-direction: column;
  font-size:calc(1.4rem + 1.8vh + 1vmin);
  text-align:left;
}
#cd-heading-strong{
  margin:0;
  font-size:1em;
}
#cd-heading-restaurant{
  align-self:flex-end;
}
#cd-description{
  width:min-content;
  min-width:25%;
  font-size:calc(0.5vw + 0.8rem); 
}
#cd-nav{
  grid-row:cd-nav;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
a#booking-btn{
  font-size:calc(1.1vh + 0.8rem);
  padding:calc(1vh + 3px) calc(0.44vw + 6px);
  border:0.05vmin solid grey;
  background-color:#1C214391;
  border-radius:calc(0.5vmin + 6px);
  margin-bottom:auto;
}
#scroll-down-desc{
  margin-top:calc(.5vh + 8px);
  margin-bottom:calc(0.75vh + 6px);
}
#page-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#general-information{
  margin-top:calc(.75vh + 0.6rem);
  --gi-pad-x:calc(6px + 8vmin + 4vw + 2%);
  padding-block:calc(6vh + 2vmin + 0.5rem);
  min-height:var(--body-h);
  display: grid;
  grid-template-columns: minmax(0,var(--gi-pad-x)) [gi-content] auto minmax(0, var(--gi-pad-x));
  --gi-container-h:calc(36vh + 10vmin + 6rem);
  line-height: 0;
}
#general-information > * {
  line-height:normal;
}
#gi-content{
  grid-area: gi-content;
  display:inline-flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:stretch;
}
#general-information  .gi-container{
  display:inline-flex;
  min-height: var(--gi-container-h);
  column-gap:calc(2vw + 0.5rem);
  font-size:calc(.8vmin + .9rem);
  background-color:#EFEFEF;
}
#general-information  .gi-container:nth-child(odd){
  flex-flow:row-reverse;
}
#general-information  .gi-container  .gi-img,
#general-information  .gi-container  .gi-desc
{
  min-height:inherit;
  flex:1 1 auto;
  max-width:50%;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
}
#general-information  .gi-container  .gi-desc {
  padding-inline:var(--header-pad-x);
}
#general-information  .gi-container  .gi-img img{
  min-height:inherit;
  object-fit: cover;
  max-height:var(--gi-container-h);
}
#general-information .general-description{
  text-align:center;
}
.filler-section{
  width: 100%;
  height:calc(60vh + 2rem);
  margin-block:calc(2vh + 0.5rem);
}
.filler-section img{
  width: 100%;
  height:100%;
  object-fit: cover;
  filter:contrast(75%) brightness(88%) hue-rotate(45deg) grayscale(40%);
}
#hotel-and-dining{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap:calc(10vh);
  padding-block:20vh;
}
#room-image,
#dining-image{
  width: 100%;
  position: relative;
}
#hotel,
#dining
{
  height:98.5vh;
  position: relative;
}
#hotel img,
#dining img
{
  height:100%;
  width: 100%;
  z-index: 1;
  object-fit:cover;
}
#hotel-and-dining .image-text{
  position:absolute;
  top:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 70;
  width: 100%;
  text-align: center;
}
#hotel-and-dining .image-text h4{
  display: inline-block;
  margin: 0;
  background-color: white;
  font-size: calc(1.2rem + 1vh);
}
#about-us{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#about-us-container{
  display:inline-flex;
  padding-inline:var(--header-pad-x) ; 
}
#about-us-picture{
  max-width: 50%;
}
#about-us-picture img{
  height:calc(42vh + 3rem);
}
#about-us-desc{
  font-size:calc(1.44vh + 0.44rem);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
#about-us-desc p{
  width: min-content;
  min-width: 33vw;
}