#cd-content{
  grid-row:cd-content;
  display:inline-block;
  line-height: 0;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:var(--header-pad-x);
}
#cd-content * {
  line-height:normal;
}
#cd-heading{
  display:inline-flex;
  flex-direction: column;
  font-size:calc(1.4rem + 1.8vh + 1vmin);
  text-align:left;
}
#cd-heading-welcome{
}
#cd-heading-strong{
  margin:0;
  font-size:1em;
}
#cd-heading-restaurant{
  align-self:flex-end;
}
#cd-description{
  width:min-content;
  min-width:25%;
  font-size:calc(0.5vw + 0.8rem);
  
}
#cd-nav{
  grid-row:cd-nav;
}
#booking-nav{
  display:flex;
  justify-content: center;
}
#general-information{
  min-height:var(--body-h);
  display:flex;
  flex-direction: column;
}
